# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Excel/CSV data files
*.xlsx
*.xls
*.csv

# Streamlit cache
.streamlit/

# VSCode
.vscode/
